html, body {
  height: 100%;
  margin: 0 0 1px;
  padding: 0;
}

#content {
    font-family: sans;
    font-size: .9em;
}

#forms {
    width: 100%;
    border: 5px ridge black;
    border-collapse: collapse;
}

#forms tr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid silver;
}

#forms tr.odd      { background-color: #eeeeee; }
#forms tr.even     { background-color: #e0e0e0; }
#forms tr.hovered  { background-color: #dd9; }
#forms tr.selected {
    background-color: #d0d0ee;
    border: 3px solid #b0b0ce;
}

#forms th {
     border-bottom: 1px solid black;
     color: black;
     padding-left:  8px;
     padding-right: 8px;
}

#preview-html-inner {
    line-height: 120%;
}

#add_command {
    background-color: #dfd !important;
    border: 1px solid black;
}

div.dialog {
    text-align: center;
    font-size: .7em;
}
div.dialog th { text-align: right; }

#forms td.actions { text-align: center; }

#forms td.actions div { font-size: .9em; }

td.actions img {
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
}

#forms td {
    font-size: .9em;
    color: #333;
    cursor: default;
    padding: 0;
    line-height: 100%;
    padding: 8px;
}
