body {
    width: 100%;
    color: #222;
    margin: 0;
    font-family: Georgia,Times,serif;
}

#header img {
    display: block;
    margin: auto;
}

/********
 * Menü *
 ********/
#menu {
    padding: 0;
    width: 100%;
    background-color: #ddd;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    font-family: sans;
}

#menu ul {
    padding: 0;
    width: 80%;
    margin: auto;
    list-style: none;
    text-align: center;
}

#menu li {
    display: inline;
}
#menu li a {
    color: #333;
    text-decoration: none;
    padding: 0 5px;
    border: 1px solid transparent;
}
#menu li a:hover { border-color: #aaa; }

#menu #acc { margin-left: 50px; }
/*************
 * Menü vége *
 *************/

/************
 * Tartalom *
 ************/
#content {
    min-width: 70%;
    max-width: 850px;
    margin: auto;
    line-height: 170%;
    text-align: justify;
}

h1 {
    font-size: 2.2em;
    text-align: center;
    margin: 50px;
}

h2 {
    font-size: 1.4em;
    border-bottom: 1px solid #bbb;
}

#toc li {
    font-size: 1.05em;
    font-weight: bold;
    line-height: 165%;
}

#toc li a {
    text-decoration: none;
    color: #555;
}

#toc a:hover { text-decoration: underline; }
